In [75]:
import pandas as pd
import numpy as np
from sklearn import feature_extraction
from sklearn.metrics.pairwise import cosine_similarity

In [76]:
df = pd.read_csv('data.csv', sep=';')
df.head()

,ID,Title,Description,Objectives,Solutions,Duration
0,d.4,Emotional Intelligence,<p>Emotional intelligence is the skill at perc...,<p>Here are the topics you will learn about by...,NaN,<p>2 hour 35 minutes</p>
1,d.5,Stress Management & Balance,<p>This is a self-learning program for learnin...,<p>At the end of this track you will be able t...,NaN,<p>48 minutes.</p>
2,d.6,Time Management & Productivity,<p>You'll learn strategies to better mangage y...,"<p>At the end of this, you will be able to:</p...",NaN,"<p>1 hour, 36 minutes</p>"
3,d.7,Public Speaking,"<p>In today’s business world, most of us need ...","<p>After studying the Public Speaking, you wil...",NaN,"<p>4 hours, 30 min</p>"
4,d.8,Virtual Team Communication,"<p><span style=""color: rgb(78, 78, 78);"">This ...",<p>Here are the topics you will learn about by...,NaN,<p>Maximum 5 hours.</p>

In [77]:
df.Title = df.Title.fillna('')
df.Description = df.Description.fillna('')
df.Objectives = df.Objectives.fillna('')

In [78]:
df['Duration'] = df['Duration'].str.replace('<.*?>', '')
df['Objectives'] = df['Objectives'].str.replace('<.*?>', '')
df['Duration'] = df['Duration'].str.replace('<.*?>', '')

C:\Users\tiest\AppData\Local\Temp/ipykernel_7848/2766525828.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Duration'] = df['Duration'].str.replace('<.*?>', '')
C:\Users\tiest\AppData\Local\Temp/ipykernel_7848/2766525828.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Objectives'] = df['Objectives'].str.replace('<.*?>', '')
C:\Users\tiest\AppData\Local\Temp/ipykernel_7848/2766525828.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Duration'] = df['Duration'].str.replace('<.*?>', '')

In [79]:
titleVectorizer = feature_extraction.text.TfidfVectorizer()
vecTitles = titleVectorizer.fit_transform(df.Title)

descriptionVectorizer = feature_extraction.text.TfidfVectorizer()
vecDescriptions = descriptionVectorizer.fit_transform(df.Description)

objectivesVectorizer = feature_extraction.text.TfidfVectorizer()
vecObjectives = objectivesVectorizer.fit_transform(df.Objectives)

In [80]:
def createVectorList(vecs):
    temp = []
    for elem in vecs:
        temp.append(elem.indices)
    return temp

titles = createVectorList(vecTitles)
descriptions = createVectorList(vecDescriptions)
objectives = createVectorList(vecObjectives)

In [81]:
vectorizedDf = df.copy()

In [82]:
vectorizedDf['Title'] = titles
vectorizedDf['Description'] = descriptions
vectorizedDf['Objectives'] = objectives

In [83]:
vectorizedDf.head()

,ID,Title,Description,Objectives,Solutions,Duration
0,d.4,"[2854, 1994]","[13480, 23167, 23861, 16356, 4672, 13603, 2175...","[4934, 7714, 5826, 739, 1195, 3344, 2350, 3702...",NaN,2 hour 35 minutes
1,d.5,"[771, 3323, 5386]","[13631, 11918, 8490, 4839, 11957, 20315, 11064...","[758, 3870, 6753, 5924, 7803, 3335, 197, 800, ...",NaN,48 minutes.
2,d.6,"[4447, 5615, 3323]","[22985, 22804, 22983, 4084, 6931, 16486, 17406...","[775, 5404, 6504, 4892, 7063, 401, 5701, 7055,...",NaN,"1 hour, 36 minutes"
3,d.7,"[5256, 4545]","[662, 15830, 15990, 21941, 4970, 20280, 4571, ...","[5319, 6723, 5188, 6642, 3427, 6732, 3707, 672...",NaN,"4 hours, 30 min"
4,d.8,"[1395, 5539, 5897]","[20878, 14103, 11991, 8618, 11210, 19908, 1752...","[1439, 2516, 667, 829, 3278, 2765, 2168, 2916,...",NaN,Maximum 5 hours.

In [ ]:
vectorizedDf.to_csv('vectorizedData.csv')